<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head.html :: headFragment">
        <title id="tituloPagina">PREDER | Solicitar Capacitación</title>
    </head>
    <body>
        <button class="hamburger">
            <span class="material-symbols-outlined menu-icon" id="menu-icon">menu</span>
            <span class="material-symbols-outlined close-icon" id="close-icon">close</span>
        </button>

        <nav th:replace="fragments/navbar.html :: navbar"></nav>

        <main class="principal">
            <h1>Crear nueva capacitación</h1>
            <h2>Complete esta información para solicitar una capacitación.</h2>

            <form class="form__container" id="capa_form">

                <div class="form__main">
                    <div class="input__box">
                        <span class="input__help"></span>
                        <input class="input__text" type="text" name="RUT Cliente" id="crut" onfocusout="validateRut()">
                        <label class="input__label">Rut Cliente:</label>
                    </div>
                    <div class="input__box">
                        <span class="input__help"></span>
                        <input class="input__text" type="text" id="clugar" name="Lugar" onfocusout="validateLugar()">
                        <label class="input__label">Lugar:</label>
                    </div>
                    <div class="input__box">
                        <span class="input__help"></span>
                        <select class="input__text" id="cdia">
                            <option value="">Lunes</option>
                            <option value="">Martes</option>
                            <option value="">Miércoles</option>
                            <option value="">Jueves</option>
                            <option value="">Viernes</option>
                            <option value="">Sabado</option>
                            <option value="">Domingo</option>
                        </select>
                        <label class="input__label">Dia:</label>
                    </div>
                    <div class="input__box">
                        <span class="input__help"></span>
                        <input class="input__text" type="time" id="chora" name="Hora" onfocusout="validateHora()">
                        <label class="input__label">Hora:</label>
                    </div>
                    <div class="input__box">
                        <span class="input__help"></span>
                        <input class="input__text" type="text" id="cduracion" name="Duración"
                               onfocusout="validateDuracion()">
                        <label class="input__label">Duración (min):</label>
                    </div>
                    <div class="input__box">
                        <span class="input__help"></span>
                        <input class="input__text" type="text" id="ccasistentes" name="Cantidad Asistentes"
                               onfocusout="validateCantAsit()">
                        <label class="input__label">Cantidad de asistentes:</label>
                    </div>

                </div>


                <div class="button__container">
                    <button type="reset" class="btn btn-out">Reestablecer</button>
                    <button type="submit" class="btn btn-ok">Solicitar</button>
                </div>

            </form>
        </main>

        <script th:src="@{/js/script.js}"></script>
        <script th:src="@{/js/validaciones.js}"></script>
    </body>
</html>