<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments/head.html :: headFragment">
        <title id="tituloPagina">PREDER | Resumen</title>
    </head>

    <body>

        <button class="hamburger">
            <span class="material-symbols-outlined menu-icon" id="menu-icon">menu</span>
            <span class="material-symbols-outlined close-icon" id="close-icon">close</span>
        </button>

        <nav th:replace="fragments/navbar_administrativo.html :: navbar"></nav>

        <main class="principal blur">
            <h1 >Bienvenido(a), <span th:text="${usuarioNombre}" class="txt-bold"></span></h1>
            <h2 th:text="${'Resumen de actividades y solicitudes a dia ' + #dates.format(#dates.createNow(), 'dd/MM/yyyy, HH:mm') +' hrs.'}"></h2>

            <div class="box__main">

                <div class="widget__container">
                    <div class="widget__principal">
                        <h1 class="widget__title">0</h1>
                        <h2 class="widget__info">Accidentes Reportados</h2>
                    </div>
                    <p class="widget__detalles">Sin implementar</p>
                    <span class="material-symbols-outlined widget__icon">health_and_safety</span>
                </div>

            </div>
        </main>

        <script th:src="@{/js/script.js}"></script>
    </body>

</html>